@charset "UTF-8";
*, html, body {
	margin:0;
	padding:0;
	}
/**** posicionamento do logo ****/
header .logo1{
  width: 50%;
  height:auto;
  margin: 0px 0 0 0px;
  position: relative;
  top:275px;
  left: 25%;
  z-index: -1000;
}
body section{
	width:100%;
	height: 900px;
}
/**************** PADRÃO DO MENU********************/
.menu ul {
    list-style-type: none;
    padding: 0;
}
li a {
    display: block;
    color: white;
    padding: 8px 16px;
    width:100%;
}
section nav{
 background:#584b4f;
}
nav ul li{
  width: 100% ;
}
nav ul{
  position: relative;
  left: -35%;
}
/************ padrão para o footer *****************/
section footer {
  text-align: center;
  display: block;
  position: relative;
	top:200px;
  background: #584b4f;
}
footer a img{
  position:relative;
  left: 29%;
  margin: 1% 2%;
  float:left;
  width: 8%;
  height:auto;
  }
footer p{
  margin: 0px;
  text-align: center;
  display: block;
  position: relative;
  left: 4%;
	background: #584b4f;
}
footer .col-4{
  width: 75%;
  margin: 0px;
  padding: 5px;
}
/************************* PAGINA DA HOME **************************/
.video{
	display:none;
}
.col-7{
  width: 100%;
}
section article {
  font-size: 70%;
  position:relative;
  top:200px;
	width: 100%;
	/*height:700px; desse o footer*/
}
section .destaque{
	width: 100%;
	height: 600px;
}
article .texto{
  padding: 0%;
  font-size: 170%;
  font-weight: none;
}
article .col-7{
  width: 100%;
	position: relative;
	bottom: 35px;
}
article br{
  display:none;
}
p a{
  color: orange;
}
article .col-2{
  width:50%;
}
/*lista */
.lista button {
  width: 70%;
  height: auto;
  color: #ffffff;
  background: #fe9b00;
  border: 0;
  padding:3.5%;
  border-radius: 8px;
  font-weight: bold;
}
article .lista{
	height: 250px;
	margin:5% 25% 20% 27%;
	background-color: rgba(0, 0, 0, 0.4);
	font-size: 20px;
	padding: 0px;
	text-align: center;
	list-style: none;
	border-radius: 20px;
	border: 2px solid #584b4f;
}
.lista li+li{
    padding: 10px 0;
    border-left: none;
    border-top: 2px solid #4e4b4d;
}
article .lista li {
    border-bottom: none;
}
/***********************PAGINA APLICATIVO*******************/
section .col-4{
	width: 100%;
  margin: 0px;

}
section figure{
	position:relative;
	top:180px;

}
h1{
	margin: 0px;
  position:relative;
	top:135px;
}
h2{
	color: orange;
}
section .direito{
	width: 100%;
	height:400px;
	padding:10%;
	margin: 0px;
	position: relative;
	left: -0.5px;
	top:125px;
}
.direito p{
  font-size: 170%;
}
section .esquerdo{
	width: 100%;
	height:320px;
	padding:10%;
	margin: 0px;
	position: relative;
	left: -0.5px;
	top:125px;
}
.esquerdo p{
  font-size: 170%;
}
/********************** PAGINA ALAGAMENTOS  ***********************/
section .video1{
  position: relative;
  left: 0%;
  top:180px;
  width:100%;
  height:auto;
}
section caption{
	width:100%;
  margin: 0%;
  font-weight: bold;
  font-size: 150%;
}
section table {
	position:relative;
	top:200px;
  margin:10px 10px 20px 30px;
	width:30px;
  height: auto;
}
th{
  margin:100px;
}
th, td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
tr:hover {
  background-color:white;
  color: black;
}
.ocultar{
	display: none;
}
/****************** PAGINA GRUPO **********************/
section .fotos {
		width: 200px;
    border: 2px solid #584b4f;
    float: none;
		position: relative;
		left: 20px;
}
figure .fotos img {
    width: 100%;
    height: auto;
}
figcaption.desc {
    padding: 15px;
		font-size: 150%;
}

section .ajuste{
  position: relative;
	left: 0px;
	top:12px;
	z-index: -1000;
}
section .col-8{
	width: 100%;
}
/*corrige o trabalhe conosco*/
article .col-6{
	width: 70%;
}
.p{
	position:relative;
	bottom: -180px;
	font-size: 170%;
}
/***mensagem do programador*******/
.balao {
    position: relative;
    display: inline-block;
}
.balao .mensagem {
    visibility: hidden;
    background-color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 85%;
    left: 50%;
    margin-left: -60px;
    width: 100%;
}
.balao .mensagem::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
.balao:hover .mensagem {
    visibility: visible;
}
/******************* PAGINA CONTATO e trabalhe ***********************/
fieldset .col-4{
	width:80%;
}
.contato input,
.contato button {
  display: block;
}
form {
  font-size: 150%;

}
.contato input,
textarea {
  width: 100%;
  height: auto;
  margin-bottom:8%;
  padding: 3%;
}
.contato button {
  margin: 3% 0 0 0;
  background: #fe9b00;
  border: 0;
  color: #fff;
  width: 210px;
  height: 38px;
  font-size: 1.2em;
  border-radius: 0.3em;
  box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
}
.contato h1{
  text-align: center;
}
.preto{
  color:black;
}
.linha{
  border:0px;
  margin-left: 15%;
  padding: 5%;
}
.endereco{

  list-style: none;
  margin: 2% 0% 0% 6% ;
}
ul .enderecoli{
	position: relative;
	left: -14px;
	font-size: 150%;
  padding: 3% 0% 5% 12%;
  border-bottom: 2px solid #584b4f;
  border-left:0px;
}
.enderecoli b{
  display: block;
  margin: 0% 20% 6% 0%;
}
.h1trb{
	position: relative;
	top:1px;
}
